body {
    background: $branco;
    font-family: $font-regular;
    height: 100%;
    width: 100%;
}

.container {
    max-width: 100%;
    overflow-x: hidden;
    padding: 20px;
}

a {
  text-decoration: none;
}
