.container-cadastro {
    padding: 20px 30px;
}

.icon-voltar-cadastro, .section-cadastro {
    margin-top: 30px;
}

.intro-desc {
    color: $cinza;
    font: 15px $font-light;
    letter-spacing: 0.5px;
    margin: 5px 0 15px;
}

.cadastro-intro {
    padding: 20px 0 10px;
}

.cadastro-perfil {
    align-items: center;
    display: flex;
    margin: 10px 0 20px;

    &-img {
        width: 10%;

        @include MQ($medium){
            width: 25%;
        }
    }

    &-desc {
        color: $cinza;
        font: 15px/15px $font-medium;
        width: 70%;
    }
}

.perfil-img {
    display: none
}

.label {
    font: 11px $font-regular;
    letter-spacing: 0.5px;
    text-decoration: none;

    &-senha {
        color: $azul_primary;
        float: right;
        margin-top: 10px;
    }

    &-cadastrar {
        color: $cinza;
        margin: 45px auto -40px;
        text-align: center;
    }
}

.btn-cadastro {
    float: right;
    width: 35%;

    @include MQ($medium){
        width: 100%;
    }
}
