.container {
    padding: 20px 30px;
}

.section-cadastro {
    margin-top: 70px;
}

.intro-desc {
    color: $cinza;
    font: 14px $font-light;
    letter-spacing: 0.5px;
    margin: 5px 0 15px;
}

.cadastro-perfil {
    align-items: center;
    display: flex;
    margin: 30px 0 20px;

    &-img {
        width: 23%;
    }

    &-desc {
        color: $cinza;
        font: 15px/15px $font-medium;
        width: 70%;
    }
}

.label {
    font: 11px $font-regular;
    letter-spacing: 0.5px;
    text-decoration: none;

    &-senha {
        color: $azul_primary;
        float: right;
        margin-top: 10px;
    }

    &-cadastrar {
        color: $cinza;
        margin: 45px auto -40px;
        text-align: center;
    }
}
