body {
    background: #f2f2f2;
    font-family: Raleway, Montserrat, sans-serif;
    height: 100%;
    width: 100%;
}

.container {
    padding: 20px;

    &-login {
      background: url('../images/componentes/logo-bg.svg') no-repeat;
      background-position: 235px -163px;
    }
}

.logo {
  display: flex;
  width: 100%;

    &-img {
      margin: 0 auto;
      width: 150px;
    }
}

.intro {
    &-title {
        color: #2a2a2a;
        font-family: 'Raleway Bold';
        font-size: 21px;
        line-height: 25px;

        &-span {
            color: #04b2d9;
        }
    }

    &-desc {
        color: #828181;
        font-size: 14px;
        margin: 5px 0 15px;
    }
}

.form-inputs {
    display: block;
}

.form-input-item {
    border: 1px solid #aeaeae;
    font-size: 15px;
    padding: 15px 0px 15px 15px;
    margin: 10px 0;
    width: 96%;
}

.label {
    font-size: 11px;
    text-decoration: none;

    &-senha {
        color: #04b2d9;
        float: right;
        margin: 10px 0 20px;
    }

    &-cadastrar {
        color: #828181;
    }
}

.btn {
    padding: 15px 0;
    margin: 30px 0 10px;
    text-align: center;
    width: 100%;

    &-login {
        background: #04b2d9;
        color: #fff;
        margin-top: 40px;
    }

    &-cod {
        background: transparent;
        border: 1px solid #023373;
        color: #023373;
    }

    &-cadastrar {
        background: #transparent;
        border: 1px solid #828181;
        color: #828181;
        margin-top: 50px;
    }

    &-link {
        text-decoration: none;
    }
}
