body {
    background: $branco;
    font-family: $font-regular;
    height: 100%;
    width: 100%;
}

.container {
    background: $branco;
    padding: 20px;

    &-login {
      background: url('../images/componentes/logo-bg.svg') no-repeat;
      background-position: 235px -163px;
    }
}

.logo {
  display: flex;
  width: 100%;

    &-img {
      margin: 0 auto;
      width: 150px;
    }
}

.intro {
    &-title {
        color: $preto;
        font: 21px $font-bold;
        line-height: 25px;

        &-span {
            color: $azul_primary;
        }
    }

    &-desc {
        color: $cinza;
        font: 14px $font-light;
        letter-spacing: 0.5px;
        margin: 5px 0 15px;
    }
}

.form-inputs {
    display: block;
}

.form-input-item {
    border: 1px solid #aeaeae;
    font: 15px $font-medium;
    padding: 15px 0px 15px 15px;
    margin: 10px 0;
    width: 100%;
}

.label {
    font: 11px $font-regular;
    letter-spacing: 0.5px;
    text-decoration: none;

    &-senha {
        color: $azul_primary;
        float: right;
        margin-top: 10px;
    }

    &-cadastrar {
        color: $cinza;
        margin: 25px auto -40px;
        text-align: center;
    }
}

.btn {
    border-radius: 0;
    font: 14px $font-semibold;
    padding: 15px 0;
    margin: 15px 0 10px;
    text-align: center;
    width: 100%;

    &-login {
        background: $azul_primary;
        color: #fff;
        margin-top: 20px;
    }

    &-cod {
        background: transparent;
        border: 1px solid $azul_dark;
        color: $azul_dark;
    }

    &-cadastrar {
        background: #transparent;
        border: 1px solid $cinza;
        color: $cinza;
        margin-top: 50px;
    }

    &-link {
        text-decoration: none;
    }
}
