.modal {
    // display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow:auto;
    background-color: rgba(0,0,0,0.3);

    &-content{
      background-color: #f4f4f4;
      border-radius: 10px;
      margin: 20% auto;
      width: 100%;
      height: 100%;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.17);
      animation-name: modalAberto;
      animation-duration: 1s;

      &-header-close {
        color: $azul_primary;
        float: left;
        font-size: 30px;
        position: absolute;
        left: 10%;
      }

      &-body {
        padding: 60px 20px 20px;
        text-align: center;

        &-img{
          width: 60%;
          margin: auto;
          display: block;
          border-radius: 10px;
        }
        &-fantasia{
          margin: 18px 0px 4px auto;
          font-size: 23px;
          color: #04B2D9;
        }

        &-box{
          position: absolute;
          float: left;
          left: 10%;
          margin: 25px 0;
          border: 1px #2eb9dc solid;
          padding: 8px 15px;
          border-radius: 10px;
          &-icon{
            width: 25px;

          }
          &-text{

          }
        }
      }

      @keyframes modalAberto {
          from {
            opacity: 0
          }
          to {
            opacity: 1
          }
      }
    }

    &-btn-cortar {
      width: 40%;

      @include MQ($medium) {
        width: 90%;
      }
    }
}
