.container-perfil {
    padding-top: 80px;
}

.content-perfil {
    margin: 30px 0;

    &-image {
        display: block;
        text-align: center;
        height: 200px;
        margin: 0 auto 20px;
        width: 200px;

        @include MQ($small) {
            height: 150px;
            width: 150px;
        }

        &-img {
            border: 5px solid $azul-primary;
            border-radius: 50%;
            height: 200px;
            margin: 0 auto;
            transition: border-color .5s ease-out;
            width: 200px;

            @include MQ($small) {
                height: 150px;
                width: 150px;
            }

            &-erro {
              border: 5px solid #e41930;
            }
        }
    }

    &-desc {
        color: #A2A2A2;
        font: 16px/20px $font-semibold;
        margin: 10px;

        &-item {
          margin-bottom: 20px;
        }
    }
}

.content-perfil-input-foto {
    display: none;
}

.form-input-item-perfil {
    background: transparent;
    border: none;
    color: $preto;
    font: 20px $font-regular;
    margin: 5px 0 10px;
    padding: 5px 0 0px;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow:auto;
    background-color: rgba(0,0,0,0.3);

    &-conteudo{
      background-color: #f4f4f4;
      margin: 20% auto;
      width: 70%;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.17);
      animation-name: modalAberto;
      animation-duration: 1s;

      &-header{
        background-color: $azul-primary;
        padding: 15px;
        color: #fff;

        & h2{
          margin: 0;
        }

        &-fechar{
            color: #fff;
            float: right;
            font-size: 30px;

            &:hover{
              color: #000;
              text-decoration: none;
              cursor: pointer;
            }
        }
      }

      &-body{
        padding: 10px 20px;

      }

      &-footer{
        background-color: $azul-primary;
        padding: 5px;
        color: #fff;
        text-align: center;

        & h3{
          margin: 0;
        }
      }

      @keyframes modalAberto{
          from{opacity: 0}
          to{opacity: 1}
      }
    }
}
