.container-perfil {
    padding-top: 80px;
}

.content-perfil {
    margin: 30px 0 50px;
    
    &-image {
        display: block;
        text-align: center;
        height: 200px;
        margin: auto;
        width: 200px;

        @include MQ($small) {
            height: 150px;
            width: 150px;
        }
        
        &-img {
            border: 5px solid $azul-primary;
            border-radius: 50%;
            height: 200px;
            margin: 0 auto;
            width: 200px;

            @include MQ($small) {
                height: 150px;
                width: 150px;
            }
        }
    }
    
    &-desc {
        color: #A2A2A2;
        font: 16px/20px $font-semibold;
        margin: 10px;
    }
}

.content-perfil-input-foto {
    display: none;
}

.form-input-item-perfil {
    background: transparent;
    border: none;
    color: $preto;
    font: 20px $font-regular;
    margin: 5px 0 10px;
    padding: 5px 0 30px;
}