.vagas {
  padding-top: 30px;

  &-empresa {
    padding-top: 20px;
    position: relative;

    &-logo {
      display: block;
      padding-bottom: 10px;
      margin: auto;
      text-align: center;

      &-img {
        width: 40%;

        @include MQ($medium) {
          width: 100%;
        }
      }
    }
  }
}

.vagas-btn {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: -80px;
  position: relative;
  z-index: 3;

  &-item {
    background: #fff;
    border-radius: 50%;
    box-shadow: 2px 2px 20px 2px #717171;
    display: flex;
    height: 80px;
    margin: 0 5px;
    text-align: center;
    width: 80px;

    @include MQ($small) {
      height: 65px;
      width: 65px;
    }
  }

  &-icon {
    margin: auto;
    width: 30px;
    
    @include MQ($small) {
      width: 25px;
    }
  }

  @include MQ($small) {
    margin-top: -65px;
  }
}

.container-vagas {
  background: #fff;
  border-radius: 30px 30px;
  margin: -40px 0 0;
  padding-top: 80px;
  position: absolute;
}

.vagas-content {
  &-title {
    color: $preto;
    font: 20px/22px $font-bold;
    margin: 0 auto 10px;
    text-align: center;
    width: 85%;
  }
  
  &-desc {
    align-items: center;
    display: flex;

    &-icon {
      margin: 10px 20px 10px 0;
      width: 50px;
    }

    &-nome {
      color: $azul-primary;
      font: 20px $font-regular;
      
      @include MQ($small) {
        font-size: 18px;
      }
    }
    
    &-local {
      color: $cinza;
      font: 18px/20px $font-regular;

      @include MQ($small) {
        font-size: 16px;
      }
    }
  }
}

.vagas-content-tags {
  display: flex;
  justify-content: space-between;

  &-item {
    border: 1px solid $azul-primary;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin: 15px 0;
    width: 50%;

    &:first-child {
      margin-right: 10px;
    }

    &-icon {
      margin-right: 10px;
      width: 20px;
    }

    &-text {
      color: $cinza;
      font: 15px $font-semibold;
    }
  }
}








.vagas-content-sobre {
  &-title {
    font: 18px/25px $font-bold;
    color: $azul-primary;
    margin: 15px 0 5px;
    text-transform: uppercase;
  }

  &-desc {
    color: $preto;
    font: 15px/23px $font-regular;
    letter-spacing: 0.5px;
  }
}

.about p {
  font-family: Raleway Regular;
  font-size: 14px;
}

.about ul {
  text-decoration: none;
}

.about ul li {
  font-family: Raleway Regular;
  font-size: 14px;
  line-height: 1.5;
  list-style: none;
}