.vagas {
  padding-top: 30px;

  &-empresa {
    padding-top: 20px;
    position: relative;
    z-index: -1;

    &-logo {
      display: block;
      padding-bottom: 10px;
      margin: auto;
      text-align: center;

      &-img {
        width: 40%;

        @include MQ($medium) {
          width: 100%;
        }
      }
    }
  }
}

.vagas-btn {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: -80px;
  position: relative;

  &-item {
    background: #fff;
    border-radius: 50%;
    box-shadow: 2px 2px 20px 2px #717171;
    display: flex;
    height: 80px;
    margin: 0 5px;
    text-align: center;
    width: 80px;

    @include MQ($small) {
      height: 65px;
      width: 65px;
    }
  }

  &-icon {
    margin: auto;
    width: 30px;
    
    @include MQ($small) {
      width: 25px;
    }
  }

  @include MQ($small) {
    margin-top: -65px;
  }

  /* Botões de prev e next */
  &-side {
    &-item {
      align-items: center;
      height: 40px;
      justify-content: center;
      margin: 10px;
      width: 40px; 

      &:first-child {
        margin-right: 20px;
      }

      &:last-child {
        margin-left: 20px;
        transform: rotate(180deg);
      }
    }

    &-icon {
      height: 25px;
      width: 25px;
    }
  }
}

.container-vagas {
  background: #fff;
  border-radius: 30px 30px;
  margin: -40px 0 0;
  padding-top: 80px;
  position: absolute;
  z-index: -1;
}

.vagas-content {
  &-title {
    color: $preto;
    font: 20px/22px $font-bold;
    margin: 0 auto 10px;
    text-align: center;
    width: 85%;
  }
  
  &-desc {
    align-items: center;
    display: flex;

    &-icon {
      margin: 10px 20px 10px 0;
      width: 50px;
    }

    &-nome {
      color: $azul-primary;
      font: 20px $font-regular;
      
      @include MQ($small) {
        font-size: 18px;
      }
    }
    
    &-local {
      color: $cinza;
      font: 18px/20px $font-regular;

      @include MQ($small) {
        font-size: 16px;
      }
    }
  }
}

.vagas-content-tags {
  display: flex;
  justify-content: space-between;

  &-item {
    border: 1px solid $azul-primary;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin: 15px 0;
    width: 50%;

    &:first-child {
      margin-right: 10px;
    }

    &-icon {
      margin-right: 10px;
      width: 20px;
    }

    &-text {
      color: $cinza;
      font: 15px $font-semibold;
    }
  }
}

.vagas-content-sobre {
  &-title {
    font: 18px/25px $font-bold;
    color: $azul-primary;
    margin: 30px 0 5px;
    text-transform: uppercase;
  }

  &-text {
    color: $preto;
    font: 15px/23px $font-regular;
    letter-spacing: 0.5px;
    max-height: 90px;
    overflow-y: auto;
  }

  &-requisitos-item {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
  }

  &-beneficios-list {
    &-item {
      color: $preto;
      font: 20px/23px "Raleway Regular", "Montserrat Regular", "sans-serif";
      margin: 13px 25px 0;
      position: relative;

      &:before {
        border: 1px solid $azul-primary;
        border-radius: 50%;
        content: "";
        display: block;
        height: 10px;
        left: -30px;
        position: absolute;
        top: 50%;
        transform: translate(50%, -50%);
        width: 10px;
      }
    }
  }
}
