 .container-home {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.container-home:before {
    background: url('../images/componentes/logo-bg.png') center no-repeat;
    background-size: 450px;
    content: '';
    display: block;
    height: 450px;
    left: 0px;
    position: absolute;
    top: 0;
    transform: translate(-50%,-50%);
    width: 450px;
    z-index: 1;
}

.container-home:after {
    background: url('../images/componentes/logo-bg.png') center no-repeat;
    background-size: 450px;
    content: '';
    display: block;
    height: 450px;
    right: 0px;
    position: absolute;
    bottom: 0;
    transform: rotate(180deg) translate(-50%, -50%);
    width: 450px;
    z-index: 1;
}

.home-content {
  margin-top: 170px;
}

.home-content-logo {
    display: block;
    height: 150px;
    position: relative;
    text-align: center;
    width: 100%;
}

.home-content-logo-img {
    margin: 50px auto 30px;
    width: 360px;
}
  
.home-content-desc {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-content-desc-title {
    color: #2a2a2a;
    font: 65px 'Raleway Bold', 'Montserrat Bold', 'sans-serif';
    line-height: 25px;
}

.home-content-desc-title-span {
  color: #04B2D9;
}
 
.home-content-desc-text {
    color: #828181;
    font: 30px 'Raleway Light', 'Montserrat Light', 'sans-serif';
    letter-spacing: 0.5px;
    margin: 35px 0px 15px;
}

@media screen and (max-width: 900px) {
  .container-home:before {
    background-size: 400px;
  }
  
  .container-home:after {
    background-size: 400px;
  }

  .home-content {
    margin-top: 120px;
  }
  
  .home-content-logo-img {
    margin-top: 60px;
    position: absolute;
    right: -10px;
    width: 280px;
  }
  
  .home-content-desc-title {
    font-size: 55px;
    line-height: 53px;
  }

  .home-content-desc-text {
    font-size: 25px;
    margin: 40px 0px 15px;
  }

}

@media screen and (max-width: 500px) {
  .home-content {
    margin-top: 100px;
  }
  
  .home-content-logo-img {
    width: 250px;
  }
  
  .home-content-desc-title {
    font-size: 45px;
    line-height: 43px;
  }

  .home-content-desc-text {
    font-size: 20px;
    margin-top: 10px;
    max-width: 370px;
  }
}

@media screen and (max-width: 380px) {
  .container-home:before {
    background-size: 330px;
  }

  .container-home:after {
    background-size: 330px;
  }

  .home-content {
    margin-top: 60px;
  }

  .home-content-logo-img {
    width: 230px;
  }

  .home-content-desc-title {
    font-size: 40px;
    line-height: 35px;
  }
}
