body {
  background: #F2F2F2;
  font-family: "Raleway Regular", "Montserrat Regular", "sans-serif";
  height: 100%;
  width: 100%;
}

.container {
  max-width: 100%;
  overflow-x: hidden;
  padding: 20px;
}

.container-menu {
  background: #04B2D9;
  display: flex;
  justify-content: space-between;
  padding: 13px 0;
  position: fixed;
  width: 100%;
}

/* MENU FIXO */

.menu-nav {
  background: transparent;
  border: none;
  height: 25px;
  left: 25px;
  outline: none !important;
  position: fixed;
  top: 15px;
  width: 25px;
  z-index: 5;
}

.menu-nav-burg {
  background: #fff;
  display: block;
  height: 3px;
  position: relative;
  right: 7px;
  top: 2px;
  width: 25px;
}

.menu-nav-burg:before {
  background: #fff;
  content: "";
  display: block;
  height: 3px;
  right: 0px;
  position: absolute;
  top: 8px;
  width: 25px;
}

.menu-nav-burg:after {
  background: #fff;
  content: "";
  display: block;
  height: 3px;
  right: 0px;
  position: absolute;
  bottom: 8px;
  width: 25px;
}

.menu-logo {
  text-align: center;
}

.menu-logo-img {
  width: 100px;
}

.menu-perfil {
  right: 25px;
  position: absolute;
  z-index: -1;
}

/* MENU LATERAL */

.menu-nav-collapse {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  transition: all ease 0.5s;
  opacity: 0;
  width: 100%;
}

.menu-nav-collapse-bar {
  background: #04B2D9;
  height: 0;
  transition: height ease 0.5s;
  width: 70px;
}

.menu-nav-collapse.is-active {
  opacity: 1;
}

.menu-nav-collapse.is-active .menu-nav-collapse-bar {
  height: 100vh;
}

.menu-nav-list {
  position: absolute;
  left: 30px;
  top: 50%;
  width: 90%;
  transform: translateY(-50%);
  transition: width ease 0.5s;
}

.menu-nav-list-link {
  color: #0468BF;
  fill: #0468BF;
  text-decoration: none;
}

.menu-nav-list-link:nth-child(odd) {
  color: #04B2D9;
  fill: #04B2D9;
}

.menu-nav-list-link-item {
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 65px;
  justify-content: space-between;
  margin: 40px 0;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease;
  width: 0;
}

.menu-nav-list-link-item-text {
  font: 18px/21px "Raleway SemiBold", "Montserrat SemiBold", "sans-serif";
  margin: auto;
  width: 75%;
}

.menu-nav-list-link-item.is-active {
  padding: 0 20px;
  width: 97%;
}

@media screen and (max-width: 500px) {
  .menu-nav-list-link-item.is-active {
    width: 85%;
  }
}

@media screen and (max-width: 380px) {
  .menu-nav-list-link-item.is-active {
    width: 80%;
  }
}

@media screen and (max-width: 380px) {
  .menu-nav-list-link-item {
    margin: 30px 0;
  }
}

.btn {
  border: none;
  border-radius: 0;
  display: block;
  font: 14px "Raleway SemiBold", "Montserrat SemiBold", "sans-serif";
  padding: 15px 0;
  margin: 15px auto 10px;
  text-align: center;
  width: 100%;
}

.form-legend {
  color: #04B2D9;
  font: 14px/18px "Raleway SemiBold", "Montserrat SemiBold", "sans-serif";
  letter-spacing: 0.5px;
  margin: 25px 0 10px;
}

.form-inputs {
  display: block;
  padding-right: 15px;
}

.form-input-item {
  border: 1px solid #aeaeae;
  font: 15px "Raleway Medium", "Montserrat Medium", "sans-serif";
  margin: 10px 0;
  outline: none !important;
  padding: 15px 0px 15px 15px;
  width: 100%;
}

.container-login {
  position: relative;
}

.container-login:after {
  background: url(/images/logo-bg.svg?270147600bbedad57114bca408fa1105) center no-repeat;
  content: "";
  display: block;
  height: 330px;
  right: 0px;
  position: absolute;
  top: 0;
  transform: translate(50%, -50%);
  width: 330px;
  z-index: 1;
}

.section-login {
  margin: 0 auto;
  width: 75%;
}

@media screen and (max-width: 500px) {
  .section-login {
    width: 100%;
  }
}

.logo {
  display: flex;
  width: 100%;
}

.logo-img {
  margin: 50px auto;
  width: 125px;
}

.intro-title {
  color: #2a2a2a;
  font: 21px "Raleway Bold", "Montserrat Bold", "sans-serif";
  line-height: 25px;
}

@media screen and (max-width: 380px) {
  .intro-title {
    font-size: 20px;
  }
}

.intro-title-span {
  color: #04B2D9;
}

.intro-desc {
  color: #828181;
  font: 14px "Raleway Light", "Montserrat Light", "sans-serif";
  letter-spacing: 0.5px;
  margin: 5px 0 15px;
}

.label {
  font: 11px "Raleway Regular", "Montserrat Regular", "sans-serif";
  letter-spacing: 0.5px;
  text-decoration: none;
}

.label-senha {
  color: #04B2D9;
  float: right;
  margin-top: 10px;
}

.label-cadastrar {
  color: #828181;
  margin: 45px auto -40px;
  text-align: center;
}

.login-btn-entrar {
  margin: 60px 0 50px;
}

@media screen and (max-width: 500px) {
  .login-btn-entrar {
    margin: 40px 0 0;
  }
}

.btn {
  border-radius: 0;
}

.btn-login {
  background: #04B2D9;
  color: #fff;
  margin-top: 20px;
}

.btn-cod {
  background: transparent;
  border: 1px solid #023373;
  color: #023373;
}

.btn-cadastrar {
  background: transparent;
  border: 1px solid #828181;
  color: #828181;
}

.btn-link {
  text-decoration: none;
}

.cadastro-content {
  display: flex;
  margin-top: 40px;
  width: 100%;
}

.cadastro-content-item {
  width: 50%;
}

.cadastro-content-item:first-child {
  margin-right: 5px;
}

.cadastro-content-item:last-child {
  margin-left: 5px;
}

.container {
  padding: 20px 30px;
}

.section-cadastro {
  margin-top: 70px;
}

.intro-desc {
  color: #828181;
  font: 14px "Raleway Light", "Montserrat Light", "sans-serif";
  letter-spacing: 0.5px;
  margin: 5px 0 15px;
}

.cadastro-perfil {
  align-items: center;
  display: flex;
  margin: 30px 0 20px;
}

.cadastro-perfil-img {
  width: 10%;
}

@media screen and (max-width: 500px) {
  .cadastro-perfil-img {
    width: 25%;
  }
}

.cadastro-perfil-desc {
  color: #828181;
  font: 15px/15px "Raleway Medium", "Montserrat Medium", "sans-serif";
  width: 70%;
}

.label {
  font: 11px "Raleway Regular", "Montserrat Regular", "sans-serif";
  letter-spacing: 0.5px;
  text-decoration: none;
}

.label-senha {
  color: #04B2D9;
  float: right;
  margin-top: 10px;
}

.label-cadastrar {
  color: #828181;
  margin: 45px auto -40px;
  text-align: center;
}

.btn-cadastro {
  float: right;
  width: 35%;
}

@media screen and (max-width: 500px) {
  .btn-cadastro {
    width: 100%;
  }
}

