.form-legend {
      color: $azul_primary;
      font: 14px/18px $font-semibold;
      letter-spacing: 0.5px;
      margin: 25px 0 10px;
}

.form-inputs {
    display: block;
}

.form-input-item {
    border: 1px solid #aeaeae;
    font: 15px $font-medium;
    padding: 15px 0px 15px 15px;
    margin: 10px 0;
    width: 100%;
}
