body {
  font-family: Montserrat;
  height: 100%;
  width: 100%;
}

.container {
  margin: auto;
  padding: 20px;
  position: relative;
}

.logo-content {
  height: 170px;
  margin-top: 50px;
  margin-left: 135px;
}

.logo {
  border: 1px solid #000;
  height: 95px;
  transform: rotate(45deg);
  width: 95px;
}

.intro-title {
  color: #000;
  font-size: 21px;
  font-weight: 600;
  line-height: 25px;
}

.intro-title > span {
  color: #04b2d9;
}

.intro-desc {
  color: #828181;
  font-size: 14px;
  margin: 5px 0 15px;
}

.form-inputs {
  display: block;
}

.form-input-item {
  border: 1px solid #aeaeae;
  font-size: 15px;
  padding: 15px 0px 15px 15px;
  margin: 10px 0;
  width: 96%;
}

.label {
  font-size: 11px;
  text-decoration: none;
}

.label-senha {
  color: #04b2d9;
  float: right;
  margin: 10px 0 20px;
}

.label-cadastrar {
  color: #828181;
}

.btn {
  padding: 15px 0;
  margin: 30px 0 10px;
  text-align: center;
  width: 100%;
}

.btn-login {
  background: #04b2d9;
  margin-top: 40px;
}

.btn-cod {
  background: #fff;
  border: 1px solid #023373;
}

.btn-cadastrar {
  background: #fff;
  border: 1px solid #828181;
  margin-top: 50px;
}

.btn-link {
  text-decoration: none;
}

.btn-login > .btn-link {
  color: #fff;
}

.btn-cod > .btn-link {
  color: #023373;
}

.btn-cadastrar > .btn-link {
  color: #828181;
}











/* .menu {
  align-items: center;
  background: #666b7a;
  display: flex;
  height: 60px;
  position: relative;
  width: 100%;
}

.menu-content {
  display: flex;
  position: absolute;
  right: 130px;
}

.menu-item {
  margin: 10px 15px;
}

.menu-item:hover {
  color: #f06060;
  transition: all .5s ease-out;
}

.menu-item-login {
  bottom: 13px;
  position: absolute;
  right: 0px;
}

.menu-item-link {
  border-bottom: 3px solid transparent;
  color: #fff;
  padding: 10px 20px 5px 0;
  text-decoration: none;
  text-transform: uppercase;
}

.menu-item-link:hover {
  color: #f06060;
  border-bottom: 3px solid #f06060;
  transition: all .5s ease-out;
} */

/*
  MODAL
*/
/* .bg-dark {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  transition: background-color .2s ease-out;
  z-index: 2;
}

.modal-content {
  background-color: #eeeeee;
  border: 1px solid #888;
  display: none;
  height: 230px;
  left: 50%;
  overflow: hidden;
  padding: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 470px;
  z-index: 1;
}

.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  bottom: 30px;
  position: relative;
  right: 10px;
}

.modal-close-link {
  color: #000;
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  text-decoration: none;
}

.modal-close-link:hover {
  color: #f06060;
  transition: color .5s ease-out;
} */
