body {
  font-family: Roboto;
}

/*
  MENU
*/
.menu-logo {
  border: 1px solid #fff;
  height: 40px;
  margin: 10px 10px;
  width: 150px;
}

.menu {
  align-items: center;
  background: #666b7a;
  display: flex;
  position: relative;
}

.menu-content {
  display: flex;
  position: absolute;
  right: 130px;
}

.menu-item {
  margin: 10px 15px;
}

.menu-item:hover {
  color: #f06060;
  transition: all .5s ease-out;
}

.menu-item-login {
  bottom: 13px;
  position: absolute;
  right: 0px;
}

.menu-item-link {
  border-bottom: 3px solid transparent;
  color: #fff;
  padding: 10px 20px 5px 0;
  text-decoration: none;
  text-transform: uppercase;
}

.menu-item-link:hover {
  color: #f06060;
  border-bottom: 3px solid #f06060;
  transition: all .5s ease-out;
}

/*
  MODAL
*/
.bg-dark {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  transition: background-color .2s ease-out;
  z-index: 2;
}

.modal-content {
  background-color: #eeeeee;
  border: 1px solid #888;
  display: none;
  height: 230px;
  left: 50%;
  overflow: hidden;
  padding: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 470px;
  z-index: 1;
}

.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  bottom: 30px;
  position: relative;
  right: 10px;
}

.modal-close-link {
  color: #000;
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  text-decoration: none;
}

.modal-close-link:hover {
  color: #f06060;
  transition: color .5s ease-out;
}
