.container-cadastro {
    padding: 20px 30px;
}

.icon-voltar-cadastro {
  margin: 20px 0;
}

.cadastro-intro {
    padding: 10px 0;
}

.intro {
    color: $cinza;
    letter-spacing: 0.5px;
    margin: 15px 0;

    &-title {
        font: 20px $font-bold;
        text-transform: uppercase;
    }

    &-desc {
        font: 15px $font-regular;
    }
}

.borda-progresso-valido{
  border-color: #63DE9A;
}

.borda-progresso-invalido{
  border-color: #F06A47;
}
