.container-cadastro {
    padding: 20px 30px;
}

.intro {
    color: $cinza;
    letter-spacing: 0.5px;
    margin: 15px 0;

    &-title {
        font: 25px $font-light;
    }
    
    &-desc {
        font: 15px $font-regular;
    }
}

.cadastro-intro {
    padding: 10px 0;
}


.label {
    font: 11px $font-regular;
    letter-spacing: 0.5px;
    text-decoration: none;

    &-senha {
        color: $azul_primary;
        float: right;
        margin-top: 10px;
    }

    &-cadastrar {
        color: $cinza;
        margin: 45px auto -40px;
        text-align: center;
    }
}

.borda-progresso-valido{
  border-color: #63DE9A;
}

.borda-progresso-invalido{
  border-color: #F06A47;
}

.btn-cadastro {
    float: right;
    width: 35%;

    @include MQ($medium){
        width: 100%;
    }
}
